---
import Footer from "../components/Footer.jsx";
import Particle from "../components/Particle.jsx";
import Navbar from "../components/Navbar.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar</title>
  </head>
  <body>
    <Particle client:load />
    <Navbar client:load />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");
      .lunarButton {
        color: #1c1c1c;
        font-family: "Lexend Giga";
        font-size: 16px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 13px;
      }
      .lunarHeader {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 46px;
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .lunarCaptions {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 16px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      body {
        background-color: #1c1c1c;
      }
    </style>
    <h1 class="lunarHeader">404</h1>
    <h1 class="lunarCaptions">Hey! You aren't supposed to be here...</h1>

    <Footer client:load />
    <script>
      const lunarButton: any = document.querySelector(".lunarButton");
      lunarButton.addEventListener("click", () => {
        window.location.href = "/search";
      });
    </script>
  </body>
</html>
