---
import Footer from "../components/Footer.jsx";
import Particle from "../components/Particle.jsx";
import Navbar from "../components/Navbar.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar</title>
  </head>
  <body>
    <Particle client:load />
    <Navbar client:load />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");
      .lunarButton {
        color: #1c1c1c;
        font-family: "Lexend Giga";
        font-size: 16px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 13px;
      }
      .lunarHeader {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 46px;
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .lunarCaptions {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 16px;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;
      }

      .tosbody1 {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 14px;
        position: fixed;
        top: 60%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
        overflow: visible;
      }

      body {
        background-color: #1c1c1c;
      }
    </style>
    <h1 class="lunarHeader">Privacy Policy</h1>
    <h1 class="lunarCaptions">
      Please read this carefully before you indulge in our service.
    </h1>

    <div class="tosbod">
      <h1 class="tosbody1">
        If you use our service, you agree to the collection and use of
        information in relation with this policy. The information we collect is
        used for providing this service to you and improving this service. We
        will not share or disclose your information to anyone except those
        described in this Privacy Policy.
        <br />
        <br />
        We collect the following information about you when you visit this site.
        <br />
        <br />
        > IP Address
        <br />
        > Browser Information
        <br />
        > Request Cookies
        <br />
        <br />
        This information is used to analyze trends, administer the site, and prevent
        it from being blocked and abused.
        <br />
        <br />
        We collect the following information about you when you use our VPN.
        <br />
        <br />
        > IP Address
        <br />
        > Connection Timestap
        <br />
        <br />
        This information is the bare minimum of information we need to collect to
        operate the VPN. We do not collect any other information about you nor do
        we have logs of your activity.
        <br />
        <br />

        By using our services you agree to the above privacy policy. If you do
        not agree to the above privacy policy, all services provided by us are
        void and null.
      </h1>
    </div>
    <Footer client:load />
  </body>
</html>
