---
import Footer from "../components/Footer";
import Particle from "../components/Particle";
import Navbar from "../components/Navbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/favicon.png" />
    <meta name="description" content="Escape the confines." />
    <title>Lunar</title>
  </head>
  <body>
    <Particle client:load />
    <Navbar client:load />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");
      .lunarHeader {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 46px;
        position: fixed;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .lunarInput {
        color: #1c1c1c;
        font-family: "Lexend Giga";
        font-size: 12px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 45px;
        border: none;
        text-align: center;
      }
      input::placeholder {
        color: #1c1c1c;
        font-family: "Lexend Giga";
        font-size: 12px;
        text-align: center;
      }
      input:focus {
        outline-width: 0;
      }

      body {
        background-color: #1c1c1c;
      }
    </style>
    <h1 class="lunarHeader">Search</h1>
    <div>
      <form>
        <input
          type="text"
          id="lunarSearch"
          class="lunarInput placeholder-black-900 bg-black-50 text-black-900 text-sm rounded-lg block w-full p-2.5 dark:bg-blue-700 dark:placeholder-black-400"
          placeholder="Search the web"
          required
        />
      </form>
    </div>
    <Footer client:load />s
  </body>
</html>
