---
import Footer from "../components/Footer.jsx";
import Particle from "../components/Particle.jsx";
import Navbar from "../components/Navbar.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar</title>
  </head>
  <body>
    <Particle client:load />
    <Navbar client:load />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");
      .lunarButton {
        color: #1c1c1c;
        font-family: "Lexend Giga";
        font-size: 16px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 13px;
      }
      .lunarHeader {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 46px;
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .lunarCaptions {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 16px;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;
      }

      .tosbody1 {
        color: #1349d3;
        font-family: "Lexend Giga";
        font-size: 14px;
        position: fixed;
        top: 60%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
        overflow: visible;
      }

      body {
        background-color: #1c1c1c;
      }
    </style>
    <h1 class="lunarHeader">Terms of Service</h1>
    <h1 class="lunarCaptions">
      Please read this carefully before you indulge in our service.
    </h1>

    <div class="tosbod">
      <h1 class="tosbody1">
        We are not responsible for anything you do on our service. By using this
        service you agree to the following clauses. We are also not liable or
        responsible for the continued operation of these services.
        <br />
        <br />
        1. You agree not to use any service offered by us to engage in criminal activities
        or break the laws applicable to us or yourself.
        <br />
        <br />
        2. You agree not to use our services to send any unsolicited messages (colloquially
        referred to by us as “spam”) – especially but not limited to mass email messages
        to many recipients, spread malware, attempt to engage in phishing, or engage
        in harassment.
        <br />
        <br />
        3. You agree not to use any automated process to sign up for accounts on
        any of our services. Doing so may result in any other accounts you have with
        us being terminated – including ones that were not signed up for via automated
        means.
        <br />
        <br />
        4. You agree not to attempt to cause any harm to our services or Network
        staff by means of hacking, exploitation, stress testing, denial of service,
        disclosure of private information, spreading misinformation, social engineering,
        or any other manner that could cause damage or harm to our Company, Network,
        services, reputation or staff. This policy also applies to behavior that
        encourages or purposefully attracts said activities against our network.
        <br />
        <br />
        5. You agree not to encourage or indulge in any violence, hate, harassment,
        or any other kind of malicious behaviors against any person, race, group,
        ethnicity, nationality, sexuality, gender, or religion;

        <br />
        <br />
        By using our services you agree to the above terms. If you do not agree to
        the above terms, all services provided by us are void and null.
      </h1>
    </div>
    <Footer client:load />
  </body>
</html>
